<div class="center hero-unit">
	<h1>Welcome to the QA Hub</h1>
	<h2>
		Where you can receive visibility into releases.
	</h2>
	<%= link_to "View Releases", releases_path, class: "btn btn-large btn-primary" %>
</div>