<% provide(:title, 'Register') %>

<div class="user-container">
	<div class="user-main-section">
		<h1>Register</h1>
		
		<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
			<%= render 'shared/error_messages', :object => @user %>
			
			<%= f.label :name, "Name*" %>
			<%= f.text_field :name, :autofocus => true, class: "input-full" %>
			  
			<%= f.label :email, "Email*" %>
			<%= f.email_field :email, class: "input-full" %>
			
			<%= f.label :password, "Password*" %>
			<%= f.password_field :password %>
			
			<%= f.label :password_confirmation, "Confirm Password*" %>
			<%= f.password_field :password_confirmation %>
		
			<div class="form-action-buttons">
				<%= f.submit "Sign Up", class: "btn btn-large btn-primary" %>
				<div class="btn-cancel">
					<%= link_to "Cancel", :back, class: "btn btn-large" %>
				</div>
			</div>
		<% end %>
	</div>
	<div class="user-bottom-section">
		<%= render "devise/shared/links" %>
	</div>
</div>
