<% provide(:title, 'Change Your Password') %>

<div class="user-forgot-password-container">
	<div class="user-main-section">
		<h1>Change Your Password</h1>
		
		<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
			<%= render 'shared/error_messages', :object => @user %>
			
			<%= f.label :password, "New Password*" %>
			<%= f.password_field :password, :autofocus => true, class: "input-full" %>
			
			<%= f.label :password_confirmation, "Confirm New Password*" %>
			<%= f.password_field :password_confirmation, class: "input-full" %>
		
			<div class="form-action-buttons">
				<%= f.hidden_field :reset_password_token %>
				<%= f.submit "Change My Password", class: "btn btn-large btn-primary" %>
			</div>
		<% end %>
	</div>
	<div class="user-bottom-section">
		<%= render "devise/shared/links" %>
	</div>
</div>