<% provide(:title, 'Forgot your password?') %>

<div class="user-forgot-password-container">
	<div class="user-main-section">
		<h1>Forgot your password?</h1>

		<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
			<%= render 'shared/error_messages', :object => @user %>
		
			<%= f.label :email %>
			<%= f.email_field :email, :autofocus => true, class: "input-full" %>

			<div class="form-action-buttons">
				<%= f.submit "Send Instructions", class: "btn btn-large btn-primary" %>
			</div>
		<% end %>
	</div>
	<div class="user-bottom-section">
		<%= render "devise/shared/links" %>
	</div>
</div>
