All,

Below is the list of patches that are in the current release.  Please alert the CORE team or email QA by replying to this email if you have implemented a patch during this release that is not listed below.


  Patch List for <%= @release.title %>:
<% for item in @patch_list %>
	<%
		if item.level_of_risk == "1" || item.level_of_risk == 1.0
	      risk_level = "Low Risk".html_safe
	    elsif item.level_of_risk == "2" || item.level_of_risk == 2.0
	      risk_level = "Medium Risk".html_safe
	    elsif item.level_of_risk == "3" || item.level_of_risk == 3.0
	      risk_level = "High Risk".html_safe
	    end
	     
	    if item.level_of_comfort == "1" || item.level_of_comfort == 1.0
	      comfort_level = "Low Comfort".html_safe
	    elsif item.level_of_comfort == "2" || item.level_of_comfort == 2.0
	      comfort_level = "Medium Comfort".html_safe
	    elsif item.level_of_comfort == "3" || item.level_of_comfort == 3.0
	      comfort_level = "High Comfort".html_safe
	    end
	%>
	
	
	Risk Level: <%= risk_level %>
	Comfort Level: <%= comfort_level %>
	Data Change? <%= item.is_data_change? ? "yes" : "no" %>
	Config Change? <%= item.is_config_change? ? "yes" : "no" %>
	Affected Product: <%= item.affected_product %>
	Affected Browser(s): <%= item.affected_browsers %>
	Affected Design(s): <%= item.affected_designs %>
	Date Added: <%= item.created_at.strftime('%B %e, %Y @ %l:%M %P') %>
	Notes: <%= item.notes %>
<% end %>



<%= @sent_by %>
Quality Assurance Team
Interactive Solutions
Dealertrack Technologies
www.dealertrack.com
