<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
	</head>
	<body style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; color: #333;">
		<div style="font-size: 18px;">
			All,
			<br /><br />
			Below is the list of patches that are in the current release.  Please <em>immediately</em> alert the CORE team or email QA by replying to this email if you have implemented a patch during this release that is not listed below.
			<br /><br />
		</div>
		<fieldset style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; color: #333; border: 2px solid #333; padding-top: 10px;">
			<legend style="font-size: 24px; margin-left: 10px;">
				Patch Items for <%= @release.title %>
			</legend>
			<% for item in @patch_list %>
				<%
					if item.source == "FogBugz"
				      source = "<a href='https://clickmotive.fogbugz.com/default.asp?#{item.source_reference}' target='_blank' style='color: #0070a8; text-decoration: none;'>#{item.source_reference}</a> - ".html_safe
				    elsif item.source == "VersionOne"
				      source = "<a href='https://www10.v1host.com/ClickMotive/Search.mvc/advanced?q=#{item.source_reference}' target='_blank' style='color: #0070a8; text-decoration: none;'>#{item.source_reference}</a> - ".html_safe
				    elsif item.source == "ZenDesk"
				      source = "<a href='http://clickmotive.zendesk.com/tickets/#{item.source_reference}' target='_blank' style='color: #0070a8; text-decoration: none;'>#{item.source_reference}</a> - ".html_safe
				    end
			    
					if item.level_of_risk == "1" || item.level_of_risk == 1.0
				      risk_level = "<span style='color: #46a546;'>Low Risk</span>".html_safe
				    elsif item.level_of_risk == "2" || item.level_of_risk == 2.0
				      risk_level = "<span style='color: #ffc40d;'>Medium Risk</span>".html_safe
				    elsif item.level_of_risk == "3" || item.level_of_risk == 3.0
				      risk_level = "<span style='color: #9d261d;'>High Risk</span>".html_safe
				     end
				     
				    if item.level_of_comfort == "1" || item.level_of_comfort == 1.0
				      comfort_level = "<span style='color: #9d261d;'>Low Comfort</span>".html_safe
				    elsif item.level_of_comfort == "2" || item.level_of_comfort == 2.0
				      comfort_level = "<span style='color: #ffc40d;'>Medium Comfort</span>".html_safe
				    elsif item.level_of_comfort == "3" || item.level_of_comfort == 3.0
				      comfort_level = "<span style='color: #46a546;'>High Comfort</span>".html_safe
				    end
				    
				    if item == @patch_list.last
				    	margin_bottom = "10px"
				    elsif item != @patch_list.last
				    	margin_bottom = "20px"
				    end
			    %>
			    <div style="background-color: #ebebeb; padding: 15px; margin-bottom: <%= margin_bottom %>; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;">
				    <h3 style="padding: 0px 0px 5px 0px; margin: 0;">
				    	<%= source %><%= (item.is_data_change == true || item.is_config_change == true) ? "<span style='color: #9d261d;'>#{item.title}</span>".html_safe : item.title %>
					</h3>
					<span style="font-weight: bold;">Risk Level:</span> <%= risk_level %><br />
					<span style="font-weight: bold;">Comfort Level:</span> <%= comfort_level %><br />
					<span style="font-weight: bold;">Data Change?</span> <%= item.is_data_change? ? "yes" : "no" %><br />
					<span style="font-weight: bold;">Config Change?</span> <%= item.is_config_change? ? "yes" : "no" %><br />
					<span style="font-weight: bold;">Affected Product:</span> <%= item.affected_product %><br />
					<span style="font-weight: bold;">Affected Browser(s):</span> <%= item.affected_browsers %><br />
					<span style="font-weight: bold;">Affected Design(s):</span> <%= item.affected_designs %><br />
					<span style="font-weight: bold;">Date Added:</span> <%= item.created_at.strftime('%B %e, %Y @ %l:%M %P') %><br />
					<div style="margin-top: 10px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 10px; -moz-box-shadow: 2px 2px 5px 0px #bbb; -webkit-box-shadow: 2px 2px 5px 0px #bbb; box-shadow: 2px 2px 5px 0px #bbb; min-height: 20px; background-color: whitesmoke; border: 1px solid #e3e3e3; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;">
						<span style="font-weight: bold;">Notes:</span> <%= item.notes %>
					</div>
				</div>
			<% end %>
		</fieldset>
		<div style="margin-top: 40px;">
			<span style="font-size: 16px; font-weight: bold;"><%= @sent_by %></span><br />
			Quality Assurance Team<br />
			Interactive Solutions<br />
			Dealertrack Technologies<br />
			www.dealertrack.com
		</div>
	</body>
</html>
