All,

--- Items Pushed to Production ---
http://qahub.clickmotivedev.com/release_items?id=<%= @release.id %>

--- Contact(s) ---
<%= @report.contacts %>

--- Known Issues ---
<%= strip_tags(@report.issues) %>



<%= @report.sent_by %>
Quality Assurance Team
Interactive Solutions
Dealertrack Technologies