<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
	</head>
	<body style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; color: #333;">
		<div style="font-size: 14px;">
			<strong>All,</strong>
			<br /><br />
			<strong>Items Pushed to Production:</strong>
			<a href="http://qahub.clickmotivedev.com/release_items?id=<%= @release.id %>" target="_blank">http://qahub.clickmotivedev.com/release_items?id=<%= @release.id %></a>
			<br /><br />
			<strong>Contact(s):</strong>
			<%= @report.contacts %>
			<br /><br />
			<strong>Known Issues:</strong>
			<br />
			<%= @report.issues.html_safe %>
		</div>
		<div style="margin-top: 40px;">
			<span style="font-size: 16px; font-weight: bold;"><%= @report.sent_by %></span><br />
			Quality Assurance Team<br />
			Interactive Solutions<br />
			Dealertrack Technologies<br />
		</div>
	</body>
</html>