<%= tinymce theme_advanced_buttons1: "bold,italic,underline,strikethrough,separator,forecolor,separator,bullist,numlist,outdent,indent,separator,undo,redo,separator,removeformat,code,fullscreen", theme_advanced_buttons2: "", theme_advanced_buttons3: "", width: "100%", height: "600", content_css: "/assets/tinymce.css", valid_elements: "-strong,-em,-u,-p,p[style],-ol,ol[style],-ul,ul[style],-li,li[style],-span,span[style],-div,div[style]", theme_advanced_resizing: true, theme_advanced_resize_horizontal: false %>

<% provide(:title, 'Post Release Report') %>

<h1>Post Release Report</h1>

<h2 class="report-headline">Fill out the form below to send the post release report.</h2>

<%= form_for @report, :url => report_path  do |f| %>
	<%= render 'shared/error_messages', :object => @report %>
	<div class="report-form-fields">
		<%= f.label :contacts, "Contacts*" %>
		<%= f.text_field :contacts, class: "input-xlarge", placeholder: "Brian/Molly" %>
		
		<%= f.label :issues, "Issues*" %>
		<%= f.text_area :issues, class: "tinymce" %>
	</div>
	<div class="report-actions">
		<%= f.hidden_field :release_id, value: @release.id %>
		<%= f.hidden_field :sent_by, value: current_user.name %>
		<%= f.submit "Send", class: "btn btn-large btn-primary" %>
	</div>
<% end %>
