<% provide(:title, 'Sign In') %>

<div class="sign-in-user-container">
	<div class="user-main-section">
		<h1>Sign In</h1>
		
		<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
			<% flash.each do |key, value| %>
				<%= content_tag(:div, value, class: "alert alert-#{key}") %>
			<% end %>
		
			<%= f.label :email %>
			<%= f.email_field :email, :autofocus => true, class: "input-full" %>
			
			<%= f.label :password %>
			<%= f.password_field :password, class: "input-full" %>
		
			<div class="form-action-buttons">
				<% if devise_mapping.rememberable? %>
					<div class="pull-left">
						<%= f.check_box :remember_me, class: "remember-me-checkbox" %> <%= f.label :remember_me, "Remember?" %>
					</div>
				<% end %>
				<div class="pull-right">
					<%= f.submit "Sign In", class: "btn btn-large btn-primary btn-wide" %>
				</div>
				<div class="clearfix"></div>
			</div>
		<% end %>
		<div class="clearfix"></div>
	</div>
	<div class="user-bottom-section">
		<%= render "devise/shared/links" %>
	</div>
</div>