<% provide(:title, "Release Items for: #{@release.title}") %>

<% if @release.archive == true %>
	<div class="label label-warning archive-tag">
		Archived
	</div>
<% end %>
<h1>
	Release Items for: <%= @release.title %><br />
	<%= link_to "View the Checklist for this Release", checklist_path(@release.id), class: "btn btn-small" %>
</h1>

<div class="release-details">
	<div class="left-column">
		<span class="headings">Primary Contact:</span> <%= (@release.contact != '') ? @release.contact : 'Unassigned' %><br />
		<span class="headings">Backup Contact:</span> <%= (@release.backup_contact != '') ? @release.backup_contact : 'Unassigned' %><br />
		<span class="headings">Risk Level:</span> <%= convert_risk_level_to_words(@release_items_levels_averages.risk_level_average) %><br />
		<span class="headings">Comfort Level:</span> <%= convert_comfort_level_to_words(@release_items_levels_averages.comfort_level_average) %><br />
		<span class="headings">Release Date:</span> <%= (@release.release_date) ? @release.release_date.strftime('%B %e, %Y') : 'Not Specified' %><br />
		<span class="headings">Code Cutoff Date:</span> <%= (@release.code_cutoff_date) ? @release.code_cutoff_date.strftime('%B %e, %Y') : 'Not Specified' %>
	</div>
	<div class="right-column">
		<span class="headings">Total Items in this Release:</span> <%= @release_items.count unless @release_items.nil? %><br />
		<span class="headings">Breakdown:</span> (Data: <%= @items_data.count unless @items_data.nil? %>, General: <%= @items_general.count unless @items_general.nil? %>, Patches: <%= @items_patch.count unless @items_patch.nil? %>, Projects: <%= @items_project.count unless @items_project.nil? %>, Upgrades: <%= @items_upgrade.count unless @items_upgrade.nil? %>)
		<div class="export-to-csv">
			<%= link_to "Export List to CSV", release_items_path(id: @release.id, format: 'csv'), class: "btn btn-small" %>
			<% if user_signed_in? && @release.release_date > Date.today %>
				<% if @items_patch.count == 0 %>
					<%= link_to "Email Patch List", send_patch_list_release_item_path(id: @release.id), class: "btn btn-small", disabled: "disabled" %>
				<% else %>
					<%= link_to "Email Patch List", send_patch_list_release_item_path(id: @release.id), class: "btn btn-small" %>
				<% end %>
			<% end %>
		</div>
	</div>
	<div class="clearfix"></div>
</div>

<div class="release-add-new-jump-to">
	<% if user_signed_in? %>
		<%= link_to "Add New Release Item", new_release_item_path(id: params[:id]), class: "btn btn-large btn-primary btn-new-release-item" %>
	<% end %>
	<div class="jump-to-item">
		<strong>Go Directly To: </strong>
		<% for items in @release_item_types %>
			<%= link_to "#{items[0]} Items", "##{items[0]}Items" %>
			<%= "&nbsp;&nbsp;|&nbsp;&nbsp;".html_safe unless items == @release_item_types.last %>
		<% end %>
	</div>
</div>

<!--
	Disabling the collapsing functionality for now
	so that I can push this out to production now.
	
	TODO: Finish this functionality later.
	
		<div class="collapse-all-links">
			<a class="collapse-all-up" onclick="collapseAllDetailsUp(); return false;">Hide All Release Item Details -</a>
			<a class="collapse-all-down hide" onclick="collapseAllDetailsDown(); return false;">Show All Release Item Details +</a>
		</div>
-->

<% for items in @release_item_types %>
	<a name="<%= items[0] %>Items"></a>
	<fieldset class="release-items">
		<legend>
			<%= items[0] %> Items
			<span class="back-to-top">[<a href="#top">back to top</a>]</span>
		</legend>
		<section class="data-list release-items-list">
			<% if items[1].empty? %>
				<h2>There are no general items in this release.</h2>
			<% else %>
				<% items[1].each do |item| %>
					<%= render 'release_items', item: item %>
				<% end %>
			<% end %>
		</section>
		<div class="clearfix"></div>
	</fieldset>
<% end %>

<% if user_signed_in? %>
	<%= link_to "Add New Release Item", new_release_item_path(id: params[:id]), class: "btn btn-large btn-primary btn-new-release-item" %>
<% end %>