<% provide(:title, "Checklist for: #{@release.title}") %>
<script type="text/javascript">
	$(document).ready(function() {
		$(".fancybox").fancybox({
			padding: 20,
			scrolling: 'no',
			maxWidth: 700,
			afterClose: function() { parent.location.reload(true); }
		});
	});
</script>

<% if @release.archive == true %>
	<div class="label label-warning archive-tag">
		Archived
	</div>
<% end %>
<h1>
	Checklist for: <%= @release.title %><br />
	<%= link_to "View the Release List for this Release", release_items_path(id: @release.id), class: "btn btn-small" %>
</h1>

<div class="checklist-release-details">
	<span class="headings">Primary Contact:</span> <%= (@release.contact != '') ? @release.contact : 'Unassigned' %><br />
	<span class="headings">Backup Contact:</span> <%= (@release.backup_contact != '') ? @release.backup_contact : 'Unassigned' %><br />
	<span class="headings">Release Date:</span> <%= (@release.release_date) ? @release.release_date.strftime('%B %e, %Y') : 'Not Specified' %><br />
	<span class="headings">Code Cutoff Date:</span> <%= (@release.code_cutoff_date) ? @release.code_cutoff_date.strftime('%B %e, %Y') : 'Not Specified' %>
</div>
<div class="checklist-affected-tools">
	<h3>
		Affected Tools
	</h3>
	<% @checklist_tools.each do |tool| %>
		<div class="tool">
			<% if user_signed_in? %>
				<%= toggle_tool(tool) %>
			<% else %>
				<%= toggle_tool_image(tool) %>
			<% end %>
		</div>
	<% end %>
</div>
<% @environments.each do |environment| %>
	<div class="checklist-<%= environment %>">
		<h3>
			<%= environment.capitalize %> Branch
			<% if user_signed_in? && environment != "projects" %>
				<span class="status"></span>
			<% end %>
		</h3>
		<%
			if environment == "development"
				@list_items = @checklist_development_items
			elsif environment == "stage"
				@list_items = @checklist_stage_items
			elsif environment == "production"
				@list_items = @checklist_production_items
			elsif environment == "projects"
				@list_items = @projects
			end
		%>
		<% if environment == "projects" && @projects.empty? %>
			<h2>There are no projects in this release.</h2>
		<% else %>
			<% @list_items.each do |item| %>
				<%
					if environment == "projects"
						@item_comments = @project_comments
					else
						@item_comments = item.comments
					end
				%>
				<div class="checklist-row">
					<label for="checklist_item_<%= item.id %>" <%= "class=strikethrough" if environment != "projects" && item.applicable == false %>>
						<% if environment == "projects" %>
							<%= item.title %>
						<% else %>
							<%= toggle_item_checkbox(item) %>
						<% end %>
						<% if user_signed_in? && current_user.show_timestamps == true %>
							<%= "<span class='item-timestamp'>(last updated by #{item.name} on #{item.updated_at.strftime('%B %e, %Y @ %l:%M %P')})</span>".html_safe unless item.modified_by.blank? %>
						<% end %>
					</label>
					<div class="clearfix"></div>
					<% if user_signed_in? %>
						<div class="actions">
							<% if environment == "projects" %>
								<%= link_to "<img src='/assets/iconAdd.png' alt='Add a Comment' /> Add a Comment".html_safe, new_comment_path(release_id: @release.id, checklist_item_id: item.id, checklist_item_type: 'Project'), class: "fancybox", data: { fancybox_type: "iframe" } %>
								<% if item.comments_count > 0 %>
									&nbsp; <strong>|</strong> &nbsp;
									<a class="comments-toggle_<%= item.id %>" href="#" onclick="commentsToggle(<%= item.id %>,<%= item.comments_count %>); return false;">Hide Comments (<%= item.comments_count %>)</a>
								<% end %>
							<% else %>
								<%= link_to toggle_applicable(item), toggle_applicable_checklist_path(item), remote: true, id: "checklist_item_applicable_#{item.id}" %>
								&nbsp; <strong>|</strong> &nbsp;
								<%= link_to "<img src='/assets/iconAdd.png' alt='Add a Comment' /> Add a Comment".html_safe, new_comment_path(release_id: @release.id, checklist_item_id: item.id, checklist_item_type: 'Item'), class: "fancybox", data: { fancybox_type: "iframe" } %>
								<% if @item_comments.count > 0 %>
									&nbsp; <strong>|</strong> &nbsp;
									<a class="comments-toggle_<%= item.id %>" href="#" onclick="commentsToggle(<%= item.id %>,<%= @item_comments.count %>); return false;">Hide Comments (<%= @item_comments.count %>)</a>
								<% end %>
							<% end %>
						</div>
						<div class="clearfix"></div>
					<% end %>
					<div class="comments comments_block_<%= item.id %>">
						<% @item_comments.each do |c| %>
							<% if (environment == "projects" && c.checklist_item_id == item.id) || c.checklist_item_type == 'Item' %>
								<div class="comment well">
									<div class="heading">
										<%= c.author %> said on <%= c.updated_at.strftime('%B %e, %Y @ %l:%M %P') %>
										<% if user_signed_in? %>
											&nbsp;|&nbsp;
											<%= link_to image_tag('/assets/iconEdit.png'), edit_comment_path(c.id), class: "fancybox", data: { fancybox_type: "iframe" } %>
											<%= link_to image_tag('/assets/iconDelete.png'), c, method: :delete, data: { confirm: "Are you sure you want to delete this comment?" } %>
										<% end %>
									</div>
									<%= c.comment.html_safe %>
								</div>
							<% end %>
						<% end %>
					</div>
					<div class="clearfix"></div>
				</div>
			<% end %>
		<% end %>
	</div>
<% end %>
<div class="clearfix"></div>
