<section id="list-view" class="data-list">
	<% @releases.each do |release| %>
		<article class="data">
			<% if release.archive == true %>
				<div class="label label-warning archive-tag">
					Archived
				</div>
			<% end %>
			<div class="release-headline">
				<div class="release-title">
					<%= release.title %>
					<% if user_signed_in? && release.release_date == Date.today %>
						<div class="send-report">
							[<%= link_to "Send Post Release Report", report_path(id: release.id) %>]
						</div>
					<% end %>
				</div>
				<div class="release-actions">
					<% if user_signed_in? %>
						<%= link_to "Update", edit_release_path(release) %>&nbsp;&nbsp;|&nbsp;&nbsp;<%= link_to "Delete", release, method: :delete, data: { confirm: "Are you sure you want to delete #{release.title}?" } %>
					<% end %>
				</div>
				<div class="release-pages">
					<%= link_to "Checklist", checklist_path(release.id) %>&nbsp;&nbsp;|&nbsp;&nbsp;<%= link_to "Release List", release_items_path(id: release.id) %>
				</div>
			</div>
		</article>
	<% end %>
</section>
