<% provide(:title, 'Releases') %>
<script type="text/javascript">
	$(document).ready(function() {
		$(".fancybox").fancybox({
			padding: 20,
			scrolling: 'no',
			maxWidth: 700
		});
	});
</script>

<h1>
	Releases<br />
	<% if @archive_status == 'false' %>
		<%= link_to "View All", { :controller => 'releases', :action => 'index', :archive => true }, class: "btn btn-small archive-toggle" %>
	<% else %>
		<%= link_to "Hide Archived", { :controller => 'releases', :action => 'index', :archive => false }, class: "btn btn-small archive-toggle" %>
	<% end %>
</h1>

<% if user_signed_in? %>
	<%= link_to "Add New Release", new_release_path, class: "btn btn-large btn-primary btn-new-release-top" %>
<% end %>

<% if @releases.empty? %>
	<h2>No releases have been created yet.</h2>
<% else %>
	<div class="releases">
		<div class="pagination-controls-container">
			<%= will_paginate @releases, previous_label: "<", next_label: ">", inner_window: 1, outer_window: 1 %>
			<div class="controls">
				Views: <%= link_to "Detail", "#", class: "btn btn-small btn-primary detail-view-link" %> <%= link_to "List", "#", class: "btn btn-small list-view-link" %>
			</div>
		</div>
		<%= render 'releases_detail' %>
		<%= render 'releases_list' %>
		<div class="pagination-controls-container">
			<%= will_paginate @releases, previous_label: "<", next_label: ">", inner_window: 1, outer_window: 1 %>
			<div class="controls">
				Views: <%= link_to "Detail", "#", class: "btn btn-small btn-primary detail-view-link" %> <%= link_to "List", "#", class: "btn btn-small list-view-link" %>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
<% end %>

<% if user_signed_in? %>
	<%= link_to "Add New Release", new_release_path, class: "btn btn-large btn-primary btn-new-release-bottom" %>
<% end %>
