<!DOCTYPE html>
<html>
	<head>
		<%= render 'layouts/application_head' %>
		<%= render 'layouts/shim' %>    
	</head>
	<body class="body-frame">
		<div class="frame-container">
			<%= yield %>
		</div>
	</body>
</html>