<!DOCTYPE html>
<html>
	<head>
		<%= render 'layouts/application_head' %>  
		<%= render 'layouts/shim' %>    
	</head>
	<body>
		<%= render 'layouts/header' %>
		<div class="container-wrapper">
			<div class="container">
				<% flash.each do |key, value| %>
					<%= content_tag(:div, value, class: "alert alert-#{key}") %>
				<% end %>
				<%= yield %>
				<%= render 'layouts/footer' %>
			</div>
		</div>
	</body>
</html>